body {
font-family: 'Courier New', Courier, monospace, sans-serif;
background-color: #107ec7;
background-size: cover;
text-align: center;
font-size: 20px
}

  table {
      width: 90%;
      background-color: #e5e5e7;
      border-collapse: collapse;
      margin: 0 auto;
  }

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #1425c0;
}

th {
    background-color: #020080;
    color: rgb(3, 3, 3);
}

tr:hover {
    background-color: #f8f8f8;
}
