body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    background-color: #107ec7;
    height: 100vh;
}

.container {
    background-color: #031db1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(177, 105, 185, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 30px;
    color: #ffffff;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
}

input[type="text"],
input[type="date"],
input[type="submit"] {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #1256d4;
    color: white;
    border: none;
    cursor: pointer;
}


a {
    color: #ffffff;
    text-decoration: aqua;
}

