  body {
      font-family: Arial, sans-serif;
      background-color: #107ec7;
      height: 100vh;
  }

  .container {
      background-color: #40f9ff;
      padding: 40px;
      border-radius: 8px;
      max-width: 800px;
      margin: 0 auto;
  }

  h2 {
      margin-bottom: 20px;
      color: #fff;
  }

  table {
      width: 100%;
      background-color: #f0f3f2;
      border-collapse: collapse;
  }

  th,
  td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ccc;
  }

  th {
      background-color: #1256d4;
      color: #fff;
  }

  form {
      margin-bottom: 20px;
  }

  button[type="submit"] {
      background-color: #1256d4;
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
  }

  button[type="submit"]:hover {
      background-color: #1256d4;
  }

  a {
      color: #fff;
      text-decoration: none;
  }