body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    background-color: #107ec7;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
}

table {
    width: 90%;
    background-color: #e5e5e7;
    border-collapse: collapse;
    margin: 0 auto;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #40f9ff;
    color: #fff;
}

blockquote {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff0f6;
    border-left: 4px solid #40c9ff;
    color: #40c9ff;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
}

select {
    width: 30%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #fffafc;
    border-radius: 4px;
}

input[type="hidden"],
input[type="submit"] {
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #1256d4;;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00ffff;
}

a {
    color: #f1f1f1;
    text-decoration: none;
}