		body {
			font-family: 'Courier New', Courier, monospace, sans-serif;
			background-color: #107ec7;
			background-size: cover;
			text-align: center;
			font-size: 20px
		}
		
		h1 {
			text-align: center;
			color: #ffffff;
		}
        h2 {
			text-align: center;
			color: #ffffff;
		}
        a { 
			color: #ffffff;
		}

